.post {
    border: 1px solid silver;
    padding: 10px;
    margin: 10px;
  }

#user {
    font-style: italic;
    font-size: small;
    }

#body {
    font-weight: bold;
    width: 80%;
}

#createPostForm {
    display: None
}

#updatePostForm {
    display: None
}

.comment {
    border: 1px solid silver;
    padding: 10px;
    margin: 10px;
  }